/*
 * Additional CSS for Hyde-X
 */

.posts {
  list-style: none;
}

.sidebar-copyright {
    font-size: 14px;
}

.circular {
  width: 50%; 
  /*height:200px;*/
  border-radius:50%;
  display: block;
  margin: 0 auto;
}

.circular img {
  border-radius:50%;
  transition: transform 0.5s ease;
  transform: scale(0.8);
}

.circular img:hover {
  transform: scale(.9);
  /*
  transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  */
} 
